Fabcon/Transformation/Pipeline/Other/Pp_Dly_Clr_Brn_Bkp_20250305.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "Mtd_Clr_Brn_Tbl_Lst"
            },
            "schema": [],
            "linkedService": {
              "name": "BronzeLakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "5e30c949-c264-aa3c-46c9-dd1aa43617b8",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Fetch_Tbl_Names",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('Lkp_Fetch_Tbl_Names').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "Table_Name",
                "value": {
                  "value": "@item().tableName",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set_Tbl_Name_Var",
              "dependsOn": []
            },
            {
              "type": "SetVariable",
              "typeProperties": {
                "variableName": "Schema_Name",
                "value": {
                  "value": "@item().schemaName",
                  "type": "Expression"
                }
              },
              "policy": {
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Set_Schema_Name_Var",
              "dependsOn": []
            },
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "AzureSqlSource",
                  "sqlReaderQuery": {
                    "value": "@concat('SELECT * FROM ', variables('Schema_Name'), '.', variables('Table_Name'), \n' WHERE CAST(batch_date AS DATE) = ''', pipeline().parameters.batch_date, '''')\n",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "AzureSqlTable",
                    "typeProperties": {
                      "database": "LandingDatabase"
                    },
                    "schema": [],
                    "externalReferences": {
                      "connection": "713b9390-3daf-4135-b804-c2d3395ca8a9"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@concat(variables('Table_Name'), '_2025-02-27')\n",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BronzeLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "5e30c949-c264-aa3c-46c9-dd1aa43617b8",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Cp_Tbl_Src_To_Brn",
              "dependsOn": [
                {
                  "activity": "Set_Tbl_Name_Var",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "Set_Schema_Name_Var",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Lp_Table_Names",
        "dependsOn": [
          {
            "activity": "Lkp_Fetch_Tbl_Names",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": {
              "value": "@concat('SELECT * FROM dbo.CL_BKCOMPENS_RV_TRF WHERE CAST(bacth_date AS DATE) = ''',pipeline().parameters.bacth_date, '''')",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "AzureSqlTable",
              "typeProperties": {
                "schema": "dbo",
                "table": "CL_BKCOMPENS_RV_TRF",
                "database": "LandingDatabase"
              },
              "schema": [],
              "externalReferences": {
                "connection": "713b9390-3daf-4135-b804-c2d3395ca8a9"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "CL_BKCOMPENS_RV_TRF"
              },
              "schema": [],
              "linkedService": {
                "name": "BronzeLakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a43617b8-dd1a-46c9-aa3c-c2645e30c949",
                    "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      }
    ],
    "parameters": {
      "batch_date": {
        "type": "string",
        "defaultValue": "2025-02-21"
      },
      "bacth_date": {
        "type": "string",
        "defaultValue": "2025-02-21"
      }
    },
    "variables": {
      "Table_Name": {
        "type": "String"
      },
      "Schema_Name": {
        "type": "String"
      }
    }
  }
}