Fabcon/Transformation/Pipeline/Other/Pp_Tbl_Testing1.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "OracleSource",
            "oracleReaderQuery": {
              "value": "@concat(\n    'SELECT ''', variables('BatchDate'), ''' AS BatchDateTest, ',\n    'TO_DATE(''', variables('BatchDate'), ''', ''YYYY-MM-DD'') AS BatchDate ',\n    'FROM DUAL'\n)",
              "type": "Expression"
            },
            "queryTimeout": "02:00:00",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "OracleTable",
              "schema": [],
              "externalReferences": {
                "connection": "6ba89ba4-29a9-475b-afca-362ce4c2b190"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "LakehouseTableSink",
            "tableActionOption": "OverwriteSchema",
            "partitionOption": "None",
            "datasetSettings": {
              "type": "LakehouseTable",
              "typeProperties": {
                "table": "abc1"
              },
              "schema": [],
              "linkedService": {
                "name": "BronzeLakehouse",
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "a43617b8-dd1a-46c9-aa3c-c2645e30c949",
                    "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785",
                    "rootFolder": "Tables"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Copy data1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchDate",
          "value": {
            "value": "@formatDateTime(addHours(utcnow(), 1), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchDate",
        "dependsOn": [
          {
            "activity": "Set_BatchID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT TOP 1\n    CASE \n        WHEN Status = 'Completed' THEN BatchID + 1\n        ELSE BatchID\n    END AS BatchID\nFROM [DataOpsWarehouse].[CFR].[BatchProcessingLog] \nWHERE TaskName = 'Pp_Tbl_Testing1'\nORDER BY ExecutionTime DESC;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "DataOpsWarehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                  "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Last_BatchID_1",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Started",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Started",
        "dependsOn": [
          {
            "activity": "Set_BatchDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchID",
          "value": {
            "value": "@int(activity('Lkp_Last_BatchID_1').output.firstRow.BatchID)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchID",
        "dependsOn": [
          {
            "activity": "Lkp_Last_BatchID_1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchDate",
          "value": {
            "value": "@formatDateTime(addHours(utcnow(), 1), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchDate_copy1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set_BatchID_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT TOP 1\n    CASE \n        WHEN Status = 'Completed' THEN BatchID + 1\n        ELSE BatchID\n    END AS BatchID\nFROM [DataOpsWarehouse].[CFR].[BatchProcessingLog] \nWHERE TaskName = 'Pp_Tbl_Testing1'\nORDER BY ExecutionTime DESC;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "DataOpsWarehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                  "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Last_BatchID_2",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Failed1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set_BatchDate_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchID",
          "value": {
            "value": "@int(activity('Lkp_Last_BatchID_2').output.firstRow.BatchID)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchID_copy1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Lkp_Last_BatchID_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchDate",
          "value": {
            "value": "@formatDateTime(addHours(utcnow(), 1), 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchDate_copy1_copy1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set_BatchID_copy1_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT TOP 1\n    CASE \n        WHEN Status = 'Completed' THEN BatchID + 1\n        ELSE BatchID\n    END AS BatchID\nFROM [DataOpsWarehouse].[CFR].[BatchProcessingLog] \nWHERE TaskName = 'Pp_Tbl_Testing1'\nORDER BY ExecutionTime DESC;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "DataOpsWarehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                  "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Last_BatchID_3",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Completed",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Completed",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set_BatchDate_copy1_copy1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchID",
          "value": {
            "value": "@int(activity('Lkp_Last_BatchID_3').output.firstRow.BatchID)\n",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchID_copy1_copy1",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Lkp_Last_BatchID_3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "58455e7b-15d4-a6c2-4e26-0311774353e4",
            "type": "PipelineReference"
          },
          "parameters": {
            "BatchKey": {
              "value": "@variables('BatchKey')",
              "type": "Expression"
            },
            "BatchDate": {
              "value": "@variables('BatchDate')",
              "type": "Expression"
            },
            "BatchID": {
              "value": "@variables('BatchID')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "Invoke pipeline1",
        "dependsOn": [
          {
            "activity": "SP_Started",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Failed",
        "dependsOn": [
          {
            "activity": "Invoke pipeline1",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Succeeded",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Succeeded",
        "dependsOn": [
          {
            "activity": "Invoke pipeline1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "BatchDate": {
        "type": "String"
      },
      "BatchID": {
        "type": "Integer"
      },
      "BatchKey": {
        "type": "Integer",
        "defaultValue": 5
      }
    }
  }
}