Fabcon/Transformation/Pipeline/Child/Bronze/P_Dly_Cbs_Brn.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "select SourceSchema, SourceTable, SourceColumnList, TargetTable \nfrom [DataOpsWarehouse].[Metadata].[Src_Brn_Tbl_Lst]\nwhere SourceSystem = 'CBS' and IsActive = 1 and LoadType='Full' \n\n",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "DataOpsWarehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                  "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Fetch_Tbl_Name",
        "dependsOn": [
          {
            "activity": "SP_Started",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "batchCount": 5,
          "items": {
            "value": "@activity('Lkp_Fetch_Tbl_Name').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "@concat(\n    'SELECT /*+ PARALLEL(A,4) */', item().SourceColumnList, ', ',\n    'CAST(''', pipeline().parameters.BatchID, ''' AS NUMBER(5,0)) AS \"BatchID\", ',\n    'TO_DATE(''', pipeline().parameters.BatchDate, ''', ''YYYY-MM-DD'') AS \"BatchDATE\", ',\n    '''', pipeline().parameters.SystemCode, ''' AS \"SystemCode\", ',\n    '''', pipeline().PipelineName, ''' AS \"WorkFlowName\" ',\n    'FROM ', item().SourceSchema, '.', item().SourceTable, ' A'\n)",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "OracleTable",
                    "schema": [],
                    "externalReferences": {
                      "connection": "6ba89ba4-29a9-475b-afca-362ce4c2b190"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "Append",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@item().TargetTable",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BronzeLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "5e30c949-c264-aa3c-46c9-dd1aa43617b8",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Cd_Orc_To_BrnLh",
              "dependsOn": []
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[CFR].[LogCopySuccess]",
                "storedProcedureParameters": {
                  "BatchID": {
                    "value": {
                      "value": "@pipeline().parameters.BatchID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "BatchDate": {
                    "value": {
                      "value": "@pipeline().parameters.BatchDate",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "SourceSystem": {
                    "value": "Cbs",
                    "type": "String"
                  },
                  "ActivityType": {
                    "value": "Bronze",
                    "type": "String"
                  },
                  "ItemName": {
                    "value": {
                      "value": "@item().targetTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "Counts": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.rowsCopied",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "Status": {
                    "value": "Succeeded",
                    "type": "String"
                  },
                  "Message": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.executionDetails[0].status",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "RunStart": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.executionDetails[0].start",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "RunEnd": {
                    "value": {
                      "value": "@addSeconds(activity('Cd_Orc_To_BrnLh').output.executionDetails[0].start, activity('Cd_Orc_To_BrnLh').output.executionDetails[0].duration)",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "ExecDurationSec": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.executionDetails[0].duration",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  }
                }
              },
              "linkedService": {
                "name": "DataOpsWarehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                    "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SP_Success",
              "dependsOn": [
                {
                  "activity": "Cd_Orc_To_BrnLh",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[CFR].[LogCopyFailure]",
                "storedProcedureParameters": {
                  "BatchID": {
                    "value": {
                      "value": "@pipeline().parameters.BatchID",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "BatchDate": {
                    "value": {
                      "value": "@pipeline().parameters.BatchDate",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "SourceSystem": {
                    "value": "Cbs",
                    "type": "String"
                  },
                  "ActivityType": {
                    "value": "Bronze",
                    "type": "String"
                  },
                  "ItemName": {
                    "value": {
                      "value": "@item().targetTable",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "Counts": {
                    "value": {
                      "value": "0",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "Status": {
                    "value": "Failed",
                    "type": "String"
                  },
                  "Message": {
                    "value": {
                      "value": "@string(activity('Cd_Orc_To_BrnLh').output.errors[0].Message)",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "RunStart": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.executionDetails[0].start",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "RunEnd": {
                    "value": {
                      "value": "@addSeconds(activity('Cd_Orc_To_BrnLh').output.executionDetails[0].start, activity('Cd_Orc_To_BrnLh').output.executionDetails[0].duration)",
                      "type": "Expression"
                    },
                    "type": "Datetime"
                  },
                  "ExecDurationSec": {
                    "value": {
                      "value": "@activity('Cd_Orc_To_BrnLh').output.executionDetails[0].duration",
                      "type": "Expression"
                    },
                    "type": "Int64"
                  }
                }
              },
              "linkedService": {
                "name": "DataOpsWarehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
                    "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "SP_Fail",
              "dependsOn": [
                {
                  "activity": "Cd_Orc_To_BrnLh",
                  "dependencyConditions": [
                    "Failed"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Lp_Cd_Orc_To_BrnLh",
        "dependsOn": [
          {
            "activity": "Lkp_Fetch_Tbl_Name",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@pipeline().parameters.BatchKey",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@pipeline().parameters.BatchDate",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Started",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@pipeline().parameters.BatchID",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Started",
        "dependsOn": []
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@pipeline().parameters.BatchKey",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@pipeline().parameters.BatchDate",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Succeeded",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@pipeline().parameters.BatchID",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Succeeded",
        "dependsOn": [
          {
            "activity": "Lp_Cd_Orc_To_BrnLh",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@pipeline().parameters.BatchKey",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchDate": {
              "value": {
                "value": "@pipeline().parameters.BatchDate",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@pipeline().parameters.BatchID",
                "type": "Expression"
              },
              "type": "Int32"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "2ddbf62f-7b5f-4b8f-8ae5-b3a671772f92",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-wqpazyi3cm4ednfmxduxxnlhqu.datawarehouse.fabric.microsoft.com",
              "workspaceId": "e10c1eb4-131b-4138-b4ac-b8e97bb56785"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Failed",
        "dependsOn": [
          {
            "activity": "Lp_Cd_Orc_To_BrnLh",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "BatchKey": {
        "type": "string"
      },
      "BatchDate": {
        "type": "string"
      },
      "BatchID": {
        "type": "string"
      },
      "WorkflowName": {
        "type": "string",
        "defaultValue": "P_Dly_Cbs_Brn"
      },
      "SystemCode": {
        "type": "string",
        "defaultValue": "Cbs"
      }
    },
    "variables": {
      "Table_Name": {
        "type": "String"
      },
      "Schema_Name": {
        "type": "String"
      },
      "Column_Name": {
        "type": "String"
      },
      "Target_Table": {
        "type": "String"
      }
    }
  }
}