Fabcon/Transformation/Pipeline/Other/P_Dly_Clr_Brn_Talha.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "typeProperties": {
              "table": "Mtd_Clr_Brn_Tbl_Lst"
            },
            "schema": [],
            "linkedService": {
              "name": "BronzeLakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "5e30c949-c264-aa3c-46c9-dd1aa43617b8",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Fetch_Tbl_Name",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": false,
          "batchCount": 8,
          "items": {
            "value": "@activity('Lkp_Fetch_Tbl_Name').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "OracleSource",
                  "oracleReaderQuery": {
                    "value": "@concat(\n    'SELECT ', item().columnNames, ', ',\n    'CAST(''', pipeline().parameters.batch_id, ''' AS NUMBER(5,0)) AS BatchID, ',\n    'TO_DATE(''', pipeline().parameters.batch_date, ''', ''YYYY-MM-DD'') AS BatchDate, ',\n    '''', pipeline().parameters.systemcode, ''' AS SystemCode, ',\n    '''', pipeline().PipelineName, ''' AS WorkFlowName ',\n    'FROM ', item().schemaName, '.', item().tableName, ' A'\n)",
                    "type": "Expression"
                  },
                  "queryTimeout": "02:00:00",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "OracleTable",
                    "schema": [],
                    "externalReferences": {
                      "connection": "6ba89ba4-29a9-475b-afca-362ce4c2b190"
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "LakehouseTableSink",
                  "tableActionOption": "OverwriteSchema",
                  "partitionOption": "None",
                  "datasetSettings": {
                    "type": "LakehouseTable",
                    "typeProperties": {
                      "table": {
                        "value": "@concat('DELETE_', item().tableName)\n",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "BronzeLakehouse",
                      "properties": {
                        "type": "Lakehouse",
                        "typeProperties": {
                          "artifactId": "5e30c949-c264-aa3c-46c9-dd1aa43617b8",
                          "workspaceId": "00000000-0000-0000-0000-000000000000",
                          "rootFolder": "Tables"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": false
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Cd_Orc_To_BrnLh",
              "dependsOn": []
            }
          ]
        },
        "name": "Lp_Cd_Orc_To_BrnLh",
        "dependsOn": [
          {
            "activity": "Lkp_Fetch_Tbl_Name",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "batch_date": {
        "type": "string",
        "defaultValue": "2025-04-25"
      },
      "batch_id": {
        "type": "string",
        "defaultValue": "298"
      },
      "workflowname": {
        "type": "string",
        "defaultValue": "P_Dly_Clr_Brn"
      },
      "systemcode": {
        "type": "string",
        "defaultValue": "Clearing"
      }
    },
    "variables": {
      "Table_Name": {
        "type": "String"
      },
      "Schema_Name": {
        "type": "String"
      },
      "Column_Name": {
        "type": "String"
      },
      "Array": {
        "type": "Array"
      }
    }
  }
}