Fabric_test/Transformation/Pipeline/Parent/Pp_Dly_Clr.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "71044253-e90a-8ddb-4818-e8d560a4a7f7",
            "type": "PipelineReference"
          },
          "parameters": {
            "BatchKey": {
              "value": "@variables('BatchKey')",
              "type": "Expression"
            },
            "BatchDate": {
              "value": "@variables('BatchDate')",
              "type": "Expression"
            },
            "BatchID": {
              "value": "@variables('BatchID')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "P_Dly_Clr_Brn",
        "dependsOn": [
          {
            "activity": "SP_Started",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ExecutePipeline",
        "typeProperties": {
          "pipeline": {
            "referenceName": "e1b43202-8eb3-b2fb-4fc8-fc31bbbd233f",
            "type": "PipelineReference"
          },
          "parameters": {
            "BatchKey": {
              "value": "@variables('BatchKey')",
              "type": "Expression"
            },
            "BatchDate": {
              "value": "@variables('BatchDate')",
              "type": "Expression"
            },
            "BatchID": {
              "value": "@variables('BatchID')",
              "type": "Expression"
            }
          },
          "waitOnCompletion": true
        },
        "policy": {
          "secureInput": false
        },
        "name": "P_Dly_Clr_Slv_Gld",
        "dependsOn": [
          {
            "activity": "P_Dly_Clr_Brn",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Started",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "ef274073-91f1-4ae5-b0bb-f18cea99d35f",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-7cxsut6lirwupac3dsk6jbvpba.datawarehouse.fabric.microsoft.com",
              "workspaceId": "4f2aaff8-44cb-476d-805b-1c95e486af08"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Started",
        "dependsOn": [
          {
            "activity": "Set_BatchDate",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "ef274073-91f1-4ae5-b0bb-f18cea99d35f",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-7cxsut6lirwupac3dsk6jbvpba.datawarehouse.fabric.microsoft.com",
              "workspaceId": "4f2aaff8-44cb-476d-805b-1c95e486af08"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Failed1",
        "dependsOn": [
          {
            "activity": "P_Dly_Clr_Brn",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Failed",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "ef274073-91f1-4ae5-b0bb-f18cea99d35f",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-7cxsut6lirwupac3dsk6jbvpba.datawarehouse.fabric.microsoft.com",
              "workspaceId": "4f2aaff8-44cb-476d-805b-1c95e486af08"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Failed2",
        "dependsOn": [
          {
            "activity": "P_Dly_Clr_Slv_Gld",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ]
      },
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[CFR].[Etl_Cntrl_SP]",
          "storedProcedureParameters": {
            "BatchKey": {
              "value": {
                "value": "@variables('BatchKey')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "TaskName": {
              "value": {
                "value": "@pipeline().PipelineName",
                "type": "Expression"
              },
              "type": "String"
            },
            "BatchID": {
              "value": {
                "value": "@variables('BatchID')",
                "type": "Expression"
              },
              "type": "Int32"
            },
            "BatchDate": {
              "value": {
                "value": "@variables('BatchDate')",
                "type": "Expression"
              },
              "type": "Datetime"
            },
            "Status": {
              "value": "Succeeded",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "DataOpsWarehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "ef274073-91f1-4ae5-b0bb-f18cea99d35f",
              "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-7cxsut6lirwupac3dsk6jbvpba.datawarehouse.fabric.microsoft.com",
              "workspaceId": "4f2aaff8-44cb-476d-805b-1c95e486af08"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "SP_Succeeded",
        "dependsOn": [
          {
            "activity": "P_Dly_Clr_Slv_Gld",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Until",
        "typeProperties": {
          "expression": {
            "value": "@greater(formatDateTime(activity('Lkp_Mirroring_Last_Sync_BatchDate').output.firstRow.BatchDate, 'yyyy-MM-dd'), \n         formatDateTime(activity('Lkp_Last_Run_BatchDate').output.firstRow.LatestBatchDate, 'yyyy-MM-dd'))",
            "type": "Expression"
          },
          "timeout": "0.12:00:00",
          "activities": [
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "LakehouseTableSource"
                },
                "datasetSettings": {
                  "type": "LakehouseTable",
                  "typeProperties": {
                    "table": "last_synced_date_cbs"
                  },
                  "schema": [],
                  "linkedService": {
                    "name": "DataflowsStagingLakehouse",
                    "properties": {
                      "type": "Lakehouse",
                      "typeProperties": {
                        "artifactId": "23a1ae3b-a1ac-470c-a1d0-f3dcf1363bf3",
                        "workspaceId": "f1bde452-2399-41bc-9ba5-b3c078a190fc",
                        "rootFolder": "Tables"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Lkp_Mirroring_Last_Sync_BatchDate",
              "dependsOn": []
            },
            {
              "type": "Lookup",
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "sqlReaderQuery": {
                    "value": "@concat(\n    'SELECT ISNULL( ',\n        '(SELECT MAX(BatchDate) ',\n        'FROM [DataOpsWarehouse].[CFR].[BatchProcessingLog] ',\n        'WHERE TaskName = ''', pipeline().PipelineName, ''' ',\n        'AND Status = ''Succeeded'' ',\n        '), ',\n        'CAST(GETDATE() - 1 AS DATE)',\n    ') AS LatestBatchDate'\n)",
                    "type": "Expression"
                  },
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00"
                },
                "datasetSettings": {
                  "type": "DataWarehouseTable",
                  "schema": [],
                  "linkedService": {
                    "name": "DataOpsWarehouse",
                    "properties": {
                      "type": "DataWarehouse",
                      "typeProperties": {
                        "artifactId": "ef274073-91f1-4ae5-b0bb-f18cea99d35f",
                        "endpoint": "dbtrkqqvnfdejjsbkquee7f3ja-7cxsut6lirwupac3dsk6jbvpba.datawarehouse.fabric.microsoft.com",
                        "workspaceId": "4f2aaff8-44cb-476d-805b-1c95e486af08"
                      },
                      "annotations": []
                    }
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Lkp_Last_Run_BatchDate",
              "dependsOn": []
            },
            {
              "type": "Wait",
              "typeProperties": {
                "waitTimeInSeconds": 1200
              },
              "name": "Wait1",
              "dependsOn": [
                {
                  "activity": "Lkp_Mirroring_Last_Sync_BatchDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                },
                {
                  "activity": "Lkp_Last_Run_BatchDate",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ]
        },
        "name": "Until_Mirror_Completion",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "SqlServerSource",
            "sqlReaderQuery": "SELECT BatchID, BatchDate FROM [LandingDatabase].[etl].[Batch] where System = 'CBS'  and Status = 'S' order by BatchDate desc;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "SqlServerTable",
            "typeProperties": {
              "database": "LandingDatabase"
            },
            "schema": [],
            "externalReferences": {
              "connection": "713b9390-3daf-4135-b804-c2d3395ca8a9"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lkp_Fetch_BatchID_BatchDate_AzureMI",
        "dependsOn": [
          {
            "activity": "Until_Mirror_Completion",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchID",
          "value": {
            "value": "@int(activity('Lkp_Fetch_BatchID_BatchDate_AzureMI').output.firstRow.BatchID)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchID",
        "dependsOn": [
          {
            "activity": "Lkp_Fetch_BatchID_BatchDate_AzureMI",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "BatchDate",
          "value": {
            "value": "@formatDateTime(activity('Lkp_Fetch_BatchID_BatchDate_AzureMI').output.firstRow.BatchDate, 'yyyy-MM-dd')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set_BatchDate",
        "dependsOn": [
          {
            "activity": "Set_BatchID",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "BatchID": {
        "type": "Integer"
      },
      "BatchDate": {
        "type": "String"
      },
      "BatchKey": {
        "type": "String",
        "defaultValue": "9"
      }
    }
  }
}